@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .heroBanner {
    background-image: url('/home/desktop/image-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: 0 auto;
    width: 100%;
  }

  @media (max-width: 768px) {
    .heroBanner {
      background-image: url('/home/tablet/image-header.jpg');
      height: 729px;
      max-width: 800px;
    }
  }

  @media (max-width: 480px) {
    .heroBanner {
      background-image: url('/home/mobile/image-header.jpg');
    }
  }
}
